*{
    margin: 0%;
}
td > img{
    width: 100%;
    height: 100%;
}
td{
    width: 10%;
    height: 40%;
    border-style: solid;
    padding: 5px;
}
td > button{
    width: 100%;
}
div > input{
    margin: 5px;
    padding: 5px;
    width: 90%;
}
.ced{
    padding: 5px;
    border-left: solid 500px #b8d3e4; 
    border-right: solid 500px #b8d3e4; 
    border-top: solid 100px #b8d3e4; 
    border-bottom: solid 100px #b8d3e4; 
}
div{
    text-align: center;
    background-color: white;
}
div > button{
    background-color: none;
    width: 93%;
    height: 30px;
}
 button.b:hover{
    background-color:rgba(0, 0, 0, 0.59);

}